USER_EMAIL=''
EMAIL_CLIENT_ID=''
EMAIL_CLIENT_SECRET=''
EMAIL_REFRESH_TOKEN=''
EMAIL_SERVICE=''
CALLBACK_URL=''

NODE_PORT=3000

DATABASE_URL=""

JWT_ACCESS_SECRET="access_token"
JWT_REFRESH_SECRET="refresh_token"
JWT_REFRESH_SECRET="refresh_secret"
OTP_SECRET="otp_secret"

REFERRAL_AMOUNT=

TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_NUMBER=""

DEV_DB=""

CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""

AWS_S3_SECRET_KEY=""
AWS_S3_BUCKET_NAME=""
AWS_S3_ACCESS_KEY=""
AWS_S3_REGION=""

PAYSTACK_API_KEY=""